<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="pt.up.fe.mobile"
    android:versionCode="6"
    android:versionName="0.6" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sigarra" >

        <!-- Activities for both phones and tablets -->

        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".ui.HomeActivity"
            android:theme="@style/Theme.Sigarra.Home" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".ui.LoginActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Sigarra.Home" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_printing"
            android:name=".ui.services.PrintActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_printing"
            android:name=".ui.services.PrintRefActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_exams"
            android:name=".ui.personalarea.ExamsActivity" />

        <!-- Phone-only activities -->

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_student_area"
            android:name=".ui.personalarea.PersonalAreaActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_student_services"
            android:name=".ui.services.ServicesActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_map"
            android:name=".ui.facilities.FeupFacilitiesActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_notifications"
            android:name=".ui.notifications.NotificationsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_notifications"
            android:name=".ui.notifications.NotificationsDescActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_settings"
            android:name=".ui.map.SettingsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_schedule"
            android:name=".ui.personalarea.ScheduleActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_lunch_menu"
            android:name=".ui.personalarea.LunchMenuActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_profile"
            android:name=".ui.profile.ProfileActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_news"
            android:name=".ui.news.NewsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_news"
            android:name=".ui.news.NewsDescActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_friends"
            android:name=".ui.friends.FriendsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_uc_inscriptions"
            android:name=".ui.services.UCsInscriptionsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_change_password"
            android:name=".ui.services.ChangePasswordActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_card_request"
            android:name=".ui.services.CardRequestActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_park_occupation"
            android:name=".ui.personalarea.ParkOccupationActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_new_request"
            android:name=".ui.services.NewRequestActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_all_requests"
            android:name=".ui.services.AllRequestsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_scholar_profit"
            android:name=".ui.services.ScholarProfitActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_schedule"
            android:name=".ui.personalarea.ClassDescriptionActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_search"
            android:name=".ui.search.StudentsSearchActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_subjects"
            android:name=".ui.personalarea.SubjectsActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_subjects"
            android:name=".ui.personalarea.SubjectDescriptionActivity"
            android:theme="@style/Theme.Sigarra.TabPageIndicator" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_academic_path"
            android:name=".ui.personalarea.AcademicPathActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_classes_selection"
            android:name=".ui.services.ClassesSelectionActivity" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition"
            android:name=".ui.services.tuition.TuitionActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition_history"
            android:name=".ui.services.tuition.TuitionHistoryActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition_menu"
            android:name=".ui.services.tuition.TuitionMenuActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition_refs_list"
            android:name=".ui.services.tuition.TuitionRefListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_tuition_ref_detail"
            android:name=".ui.services.tuition.TuitionRefDetailActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/title_samba_uploader"
            android:name=".sendtosamba.SendToSambaActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Invisible" >
            <intent-filter >
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service android:name=".sendtosamba.UploaderService" />

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_search"
            android:launchMode="singleTop"
            android:name=".ui.search.SearchActivity" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_webview"
            android:launchMode="singleInstance"
            android:name=".ui.webclient.WebviewActivity" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="sigarra.up.pt"
                    android:scheme="https" >
                </data>
            </intent-filter>
        </activity>

        <!-- Used for install referrer tracking -->
        <receiver
            android:exported="true"
            android:name="com.google.android.apps.analytics.AnalyticsReceiver" >
            <intent-filter >
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Other manifest items -->

        <meta-data
            android:configChanges="orientation|keyboardHidden"
            android:name="android.app.default_searchable"
            android:value=".ui.search.SearchActivity" />

        <provider
            android:authorities="pt.up.fe.mobile.SearchSuggestionProvider"
            android:name=".ui.search.SearchSuggestionHistory" />
    </application>

</manifest>