<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="pt.up.beta.mobile"
    android:versionCode="13"
    android:versionName="0.9.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sigarra" >

        <!-- Activities for both phones and tablets -->

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Sigarra.Home" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Sigarra.Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.services.PrintActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_printing" />
        <activity
            android:name=".ui.services.PrintRefActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_printing" />
        <activity
            android:name=".ui.personalarea.ExamsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_exams" />

        <!-- Phone-only activities -->

        <activity
            android:name=".ui.personalarea.PersonalAreaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_student_area" />
        <activity
            android:name=".ui.services.ServicesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_student_services" />
        <activity
            android:name=".ui.facilities.FeupFacilitiesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_map" />
        <activity
            android:name=".ui.facilities.FeupFacilitiesDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_map" />
        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_notifications" />
        <activity
            android:name=".ui.notifications.NotificationsDescActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_notifications" />
        <activity
            android:name=".ui.map.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_settings" />
        <activity
            android:name=".ui.personalarea.ScheduleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_schedule" />
        <activity
            android:name=".ui.personalarea.LunchMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_lunch_menu" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_profile" />
        <activity
            android:name=".ui.news.NewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_news" />
        <activity
            android:name=".ui.news.NewsDescActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_news" />
        <activity
            android:name=".ui.friends.FriendsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_friends" />
        <activity
            android:name=".ui.services.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_change_password" />
        <activity
            android:name=".ui.personalarea.ParkOccupationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_park_occupation" />
        <activity
            android:name=".ui.search.StudentsSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_search" />
        <activity
            android:name=".ui.personalarea.SubjectsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_subjects" />
        <activity
            android:name=".ui.personalarea.SubjectDescriptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_subjects"
            android:theme="@style/Theme.Sigarra.TabPageIndicator" />
        <activity
            android:name=".ui.personalarea.AcademicPathActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_academic_path" />
        
        <activity
            android:name=".ui.services.tuition.TuitionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.services.tuition.TuitionHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition_history" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.services.tuition.TuitionMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition_menu" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.services.tuition.TuitionRefListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_tuition_refs_list" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.services.tuition.TuitionRefDetailActivity"
            android:label="@string/title_tuition_ref_detail" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sendtosamba.SendToSambaActivity"
            android:label="@string/title_samba_uploader"
            android:noHistory="true"
            android:theme="@style/Theme.Invisible" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service android:name=".sendtosamba.UploaderService" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.webclient.WebviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_webview"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="sigarra.up.pt"
                    android:scheme="https" >
                </data>
            </intent-filter>
        </activity>

        <!-- Used for install referrer tracking -->
        <receiver
            android:name="com.google.android.apps.analytics.AnalyticsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Other manifest items -->

        <meta-data
            android:name="android.app.default_searchable"
            android:configChanges="orientation|keyboardHidden"
            android:value=".ui.search.SearchActivity" />

        <provider
            android:name=".ui.search.SearchSuggestionHistory"
            android:authorities="pt.up.fe.mobile.SearchSuggestionProvider" />
    </application>

</manifest>